::-webkit-scrollbar {
    display: none;
}

html,
body {
    background: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR',
        sans-serif;
}

p {
    margin: 0;
    color: #1f1f1f;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    padding: 9em 3em 2em 3em;
    background: white;
    width: 100vw;
    z-index: 96;
    border-bottom: 2px solid #e2e2e2;
}

#header img {
    width: 18em;
}

#nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    left: 0;
    background: white;
    width: 87vw;
    border-top: 2px solid #e2e2e2;
    z-index: 99;
    padding: 2em 4em 5.5em 4em;
}

#homenav,
#storenav,
#plusnav,
#follownav,
#mynav {
    text-align: center;
}

.navtxt {
    font-size: 1.8em;
}

.navicon {
    width: 3.5em;
}

#modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 97;
    top: 0;
    display: none;
}

.modalbg {
    background: rgba(0, 0, 0, 0.6);
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 97;
    top: 0;
}

.modal {
    position: fixed;
    width: 100%;
    background: white;
    border-radius: 4em 4em 0 0;
    bottom: 14em;
    left: 0;
    padding: 2em 4.5em;
    box-sizing: border-box;
    z-index: 98;
}

.modaltitle {
    text-align: center;
    font-size: 2.7em;
    font-weight: 600;
    margin: 0.8em 0 0.5em 0;
    letter-spacing: -0.02em;
}

.modaltxt {
    font-size: 2.3em;
    font-weight: 500;
    padding: 1em 0;
    line-height: 1.5;
    letter-spacing: -0.02em;
}

.modaltxt .des {
    font-size: 0.9em;
    color: #888888;
}

#home01 {
    margin-top: 19em;
    padding: 0 3em;
}

#home02 {
    margin-top: 5em;
    padding: 0 3em;
    margin-bottom: 18em;
}

.title {
    margin-bottom: 0.85em;
    font-size: 3.3em;
    font-weight: 700;
    letter-spacing: -0.05em;
}

.studylarge .studyimg {
    width: 100%;
    border-radius: 0.6em;
    margin-bottom: 2.5em;
}

.studysmall .studyimg {
    width: 100%;
    border-radius: 0.5em;
    margin-bottom: 1.5em;
}

.studysmall .imgwrap {
    position: relative;
    width: 40%;
    margin-right: 2.5em;
}

.studylarge .time {
    position: absolute;
    top: 0;
    font-weight: 600;
    font-size: 2.5em;
    color: white;
    border-radius: 0.2em;
    padding: 0px 10px 3px 8px;
    margin: 0.6em;
    letter-spacing: -0.03em;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
}

.studysmall .time {
    position: absolute;
    top: 0;
    font-weight: 500;
    font-size: 1.8em;
    color: white;
    border-radius: 0.2em;
    padding: 0px 10px 3px 8px;
    margin: 0.6em;
    letter-spacing: -0.03em;
    text-shadow: 0px 0px 15px rgba(0, 0, 0, 1);
}

.keyword {
    font-size: 1.5em;
    font-weight: 600;
    border-radius: 0.2em;
    padding: 4px 10px 7px 10px;
    margin-right: 8px;
}

.orange {
    background: #FFAF38;
    color: black;
}

.black {
    background: black;
    color: #FFAF38;
}

.people {
    margin-left: 20px;
    display: inline-block;
    font-size: 1.35em;
}

.peopleicon {
    width: 1.5em;
    display: inline-block;
    vertical-align: middle;
    margin-right: 7px;
}

.peopleicon2 {
    width: 2.2em;
    display: inline-block;
    vertical-align: middle;
    margin-right: 7px;
}

.peoplenumber {
    font-size: 1.4em;
    color: #9F9F9F;
}

.studysmall .titlewrap {
    width: 55%;
    margin-top: 0.6em;
}

.studytitle {
    font-weight: 500;
    font-size: 2.6em;
    margin: 0.3em 0;
    letter-spacing: -0.04em;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
}

.nickname {
    font-weight: 400;
    font-size: 1.9em;
    margin: 0.3em 0;
    color: #9F9F9F;
    letter-spacing: -0.04em;
}