::-webkit-scrollbar {
    display: none;
}

html,
body {
    background: #141414;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR',
        sans-serif;
    overflow: hidden;
}

html {
    opacity: 0;
}

p {
    margin: 0;
    color: white;
}

#cam {
    margin-top: 9em;
    width: 100vw;
    position: fixed;
}

.time {
    position: absolute;
    top: 0;
    font-weight: 600;
    font-size: 2.5em;
    color: white;
    border-radius: 0.2em;
    padding: 0px 10px 3px 8px;
    margin: 1em;
    letter-spacing: -0.03em;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
}

.rec {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: red;
    z-index: 99;
    margin-bottom: 5px;
    margin-right: 15px;
    border-radius: 100px;
    display: hidden;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 2em;
}

.keyword {
    font-size: 1.5em;
    font-weight: 600;
    border-radius: 0.2em;
    padding: 4px 10px 7px 10px;
    margin-right: 8px;
}

.orange {
    background: #FFAF38;
    color: #141414;
}

.black {
    background: #383838;
    color: #FFAF38;
}

#title {
    margin-top: 44em;
    padding: 3em;
    border-bottom: 2px solid #2d2d2d;
}

#title .title {
    margin: 0.5em 0 0.7em 0;
    font-size: 3em;
    color: white;
    letter-spacing: -0.02em;
    font-weight: 500;
}

.streamprofile .profile {
    width: 2.6em;
    margin-right: 20px;
    display: inline-block;
    vertical-align: middle;
}

.streamprofile {
    position: relative;
    color: white;
    font-size: 2.2em;
    letter-spacing: -0.02em;
    font-weight: 400;
}

.follow {
    position: absolute;
    top: 0.2em;
    right: 0;
    background: #FFAF38;
    color: #141414;
    letter-spacing: -0.02em;
    font-weight: 600;
    border-radius: 0.3em;
    padding: 0.4em 0.8em;
}

.following {
    position: absolute;
    top: 0.2em;
    right: 0;
    background: #3A3A3A;
    color: #787878;
    letter-spacing: -0.02em;
    font-weight: 600;
    border-radius: 0.3em;
    padding: 0.4em 0.8em;
    display: none;
}

#chatting {
    margin: 3em;
}

#chatting .title {
    font-size: 3.3em;
    color: white;
    letter-spacing: -0.02em;
    font-weight: 600;
    padding-bottom: 0.7em;
}

#chat {
    height: 42.5em;
    overflow: scroll;
}

#chatting .profile {
    display: inline-block;
    width: 4em;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
}

#chatting .name {
    display: inline-block;
    font-size: 2.2em;
    color: #FFAF38;
    font-weight: 400;
    letter-spacing: -0.02em;
    margin-right: 30px;
}

#chatting .content {
    display: inline-block;
    font-size: 2.2em;
    color: white;
    font-weight: 400;
    letter-spacing: -0.02em;
    vertical-align: top;
    line-height: 1.6;
}

.p_chat {
    margin: 1.2em 0;
}

.streamer {
    font-size: 0.8em;
    font-weight: 600;
    border-radius: 0.2em;
    padding: 4px 10px 7px 10px;
    margin-left: 10px;
    background: #3A3A3A;
    color: #787878;
}

#message {
    position: fixed;
    bottom: 0;
    left: 0;
    border-top: 2px solid #2d2d2d;
    background: #141414;
    width: 100%;
    /*height: 12em;*/
    padding: 2em 4em 6em 4em;
}

input {
    width: 12.3em;
    font-size: 2.7em;
    color: white;
    background: #3A3A3A;
    border: 0px;
    border-radius: 0.3em;
    padding: 0.7em 1em;
    margin-right: 0.5em;
}

input:focus {
    outline: none;
}

.heart {
    border: 4px solid #FFAF38;
    border-radius: 0.3em;
    background: none;
    color: #FFAF38;
    font-size: 2.7em;
    padding: 0.5em 0.8em;
    vertical-align: middle;
    margin-top: -0.4em;
    font-weight: 600;
    transition: 0.3s;
}

.heart img {
    display: inline-block;
    vertical-align: middle;
    width: 1.2em;
    margin-right: 0.3em;
}

.heart:active {
    background: rgba(255, 175, 56, 0.3)
}