::-webkit-scrollbar {
    display: none;
}

html,
body {
    background: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR',
        sans-serif;
}

html {
    opacity: 0;
}

#loading {
    width: 100vw;
    text-align: center;
    z-index: 99;
    position: fixed;
    background: #F8AD00;
    height: 100vh;
    top: 0;
    display: none;
}

#loading img {
    width: 70%;
    margin: 43em auto;
}

#home {
    z-index: 90;
}

#nav {
    z-index: 98;
}

#following,
#store,
#my {
    z-index: 91;
}

#group,
#withme {
    z-index: 98;
}

#home p {
    margin: 0;
    color: #1f1f1f;
}

a {
    text-decoration: none;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    padding: 9em 3em 2em 3em;
    background: white;
    width: 100vw;
    z-index: 90;
    border-bottom: 2px solid #e2e2e2;
}

#header img {
    width: 18em;
}

#nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    left: 0;
    background: white;
    width: 87vw;
    border-top: 2px solid #e2e2e2;
    z-index: 97;
    padding: 2em 4em 5.5em 4em;
}

#homenav,
#storenav,
#plusnav,
#follownav,
#mynav {
    text-align: center;
}

.navtxt {
    font-size: 1.8em;
    margin: 0.2em;
}

.navicon {
    width: 4em;
}

#modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 96;
    top: 0;
    display: none;
}

.modalbg {
    background: rgba(0, 0, 0, 0.6);
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 95;
    top: 0;
}

.modal {
    position: fixed;
    width: 100%;
    background: white;
    border-radius: 4em 4em 0 0;
    bottom: 14em;
    left: 0;
    padding: 2em 4.5em;
    box-sizing: border-box;
    z-index: 98;
}

.modaltitle {
    text-align: center;
    font-size: 2.7em;
    font-weight: 600;
    margin: 0.8em 0 0.5em 0;
    letter-spacing: -0.02em;
}

.modaltxt {
    font-size: 2.3em;
    font-weight: 500;
    padding: 1em 0;
    line-height: 1.5;
    letter-spacing: -0.02em;
}

.modaltxt .des {
    font-size: 0.9em;
    color: #888888;
}

#home #home01 {
    margin-top: 19em;
    padding: 0 3em;
}

#home #home02 {
    margin-top: 5em;
    padding: 0 3em;
    margin-bottom: 18em;
}

#home .title {
    margin-bottom: 0.85em;
    font-size: 3.3em;
    font-weight: 700;
    letter-spacing: -0.05em;
}

#home .studylarge .studyimg {
    width: 100%;
    border-radius: 0.6em;
    margin-bottom: 2.5em;
}

#home .studysmall .studyimg {
    width: 100%;
    border-radius: 0.5em;
    margin-bottom: 1.5em;
}

#home .studysmall .imgwrap {
    position: relative;
    width: 40%;
    margin-right: 2.5em;
}

#home .studylarge .time {
    position: absolute;
    top: 0;
    font-weight: 600;
    font-size: 2.5em;
    color: white;
    border-radius: 0.2em;
    padding: 0px 10px 3px 8px;
    margin: 0.6em;
    letter-spacing: -0.03em;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
}

#home .studysmall .time {
    position: absolute;
    top: 0;
    font-weight: 500;
    font-size: 1.8em;
    color: white;
    border-radius: 0.2em;
    padding: 0px 10px 3px 8px;
    margin: 0.6em;
    letter-spacing: -0.03em;
    text-shadow: 0px 0px 15px rgba(0, 0, 0, 1);
}

#home .keyword {
    font-size: 1.5em;
    font-weight: 600;
    border-radius: 0.2em;
    padding: 4px 10px 7px 10px;
    margin-right: 8px;
}

#home .orange {
    background: #FFAF38;
    color: black;
}

#home .black {
    background: black;
    color: #FFAF38;
}

#home .people {
    margin-left: 20px;
    display: inline-block;
    font-size: 1.35em;
}

#home .peopleicon {
    width: 1.5em;
    display: inline-block;
    vertical-align: middle;
    margin-right: 7px;
}

#home .peopleicon2 {
    width: 2.2em;
    display: inline-block;
    vertical-align: middle;
    margin-right: 7px;
}

#home .peoplenumber {
    font-size: 1.4em;
    color: #9F9F9F;
}

#home .studysmall .titlewrap {
    width: 55%;
    margin-top: 0.6em;
}

#home .studytitle {
    font-weight: 500;
    font-size: 2.6em;
    margin: 0.3em 0;
    letter-spacing: -0.04em;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
}

#home .nickname {
    font-weight: 400;
    font-size: 1.9em;
    margin: 0.3em 0;
    color: #9F9F9F;
    letter-spacing: -0.04em;
}

#homebanner {
    margin: 4em 2.5em 2.5em 2.5em;
    width: 56em;
}

#homebanner img {
    width: 100%;
    border-radius: 0.7em;
}


/* 스터디윗미 */
#withme {
    background: #141414;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR',
        sans-serif;
    overflow: hidden;
    display: none;
    position: fixed;
    top: 0;
    z-index: 99;
    height: 100vh;
    width: 100%;
}

#withme p {
    margin: 0;
    color: white;
}

#withme #cam {
    margin-top: 9em;
    width: 100%;
    position: fixed;
}

#withme .time {
    position: absolute;
    top: 0;
    font-weight: 600;
    font-size: 2.5em;
    color: white;
    border-radius: 0.2em;
    padding: 0px 10px 3px 8px;
    margin: 1em;
    letter-spacing: -0.03em;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
}

#withme .rec {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: red;
    z-index: 99;
    margin-bottom: 5px;
    margin-right: 15px;
    border-radius: 100px;
    display: hidden;
}

#withme .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 2em;
}

#withme .keyword {
    font-size: 1.5em;
    font-weight: 600;
    border-radius: 0.2em;
    padding: 4px 10px 7px 10px;
    margin-right: 8px;
}

#withme .orange {
    background: #FFAF38;
    color: #141414;
}

#withme .black {
    background: #383838;
    color: #FFAF38;
}

#withme #title {
    margin-top: 44em;
    padding: 3em;
    border-bottom: 2px solid #2d2d2d;
}

#withme #title .title {
    margin: 0.5em 0 0.7em 0;
    font-size: 3em;
    color: white;
    letter-spacing: -0.02em;
    font-weight: 500;
}

#withme .streamprofile .profile {
    width: 2.6em;
    margin-right: 20px;
    display: inline-block;
    vertical-align: middle;
}

#withme .streamprofile {
    position: relative;
    color: white;
    font-size: 2.4em;
    letter-spacing: -0.02em;
    font-weight: 400;
}

#withme .follow {
    position: absolute;
    top: 0.2em;
    right: 0;
    background: #FFAF38;
    color: #141414;
    letter-spacing: -0.02em;
    font-weight: 600;
    border-radius: 0.3em;
    padding: 0.4em 0.8em;
}

#withme .following {
    position: absolute;
    top: 0.2em;
    right: 0;
    background: #3A3A3A;
    color: #787878;
    letter-spacing: -0.02em;
    font-weight: 600;
    border-radius: 0.3em;
    padding: 0.4em 0.8em;
    display: none;
}

#withme #chatting {
    margin: 3em;
}

#withme #chatting .title {
    font-size: 3.3em;
    color: white;
    letter-spacing: -0.02em;
    font-weight: 600;
    padding-bottom: 0.5em;
}

#withme #chat {
    height: 42.5em;
    overflow: scroll;
}

#withme #chatting .profile {
    display: inline-block;
    width: 4em;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
}

#withme #chatting .name {
    display: inline-block;
    font-size: 2.2em;
    color: #FFAF38;
    font-weight: 400;
    letter-spacing: -0.02em;
    margin-right: 30px;
}

#withme #chatting .content {
    display: inline-block;
    font-size: 2.2em;
    color: white;
    font-weight: 400;
    letter-spacing: -0.02em;
    vertical-align: top;
    line-height: 1.6;
}

#withme .p_chat {
    margin: 1.2em 0;
}

#withme .streamer {
    font-size: 0.8em;
    font-weight: 600;
    border-radius: 0.2em;
    padding: 4px 10px 7px 10px;
    margin-left: 10px;
    background: #3A3A3A;
    color: #787878;
}

#withme #message {
    position: fixed;
    bottom: 0;
    left: 0;
    border-top: 2px solid #2d2d2d;
    background: #141414;
    width: 100%;
    /*height: 12em;*/
    padding: 2em 4em 6em 4em;
}

#withme input {
    width: 12.3em;
    font-size: 2.7em;
    color: white;
    background: #3A3A3A;
    border: 0px;
    border-radius: 0.3em;
    padding: 0.7em 1em;
    margin-right: 0.5em;
}

#withme input:focus {
    outline: none;
}

#withme .heart {
    border: 4px solid #FFAF38;
    border-radius: 0.3em;
    background: none;
    color: #FFAF38;
    font-size: 2.7em;
    padding: 0.5em 0.8em;
    vertical-align: middle;
    margin-top: -0.4em;
    font-weight: 600;
    transition: 0.3s;
}

#withme .heart img {
    display: inline-block;
    vertical-align: middle;
    width: 1.2em;
    margin-right: 0.3em;
}

#withme .heart:active {
    background: rgba(255, 175, 56, 0.3)
}



/* 그룹스터디 */

#group {
    background: #141414;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR',
        sans-serif;
    overflow: hidden;
    display: none;
    position: fixed;
    top: 0;
    z-index: 99;
    height: 100vh;
}

#group p {
    margin: 0;
    color: white;
}

#group .keyword {
    font-size: 1.5em;
    font-weight: 600;
    border-radius: 0.2em;
    padding: 4px 10px 7px 10px;
    margin-right: 8px;
}

#group .orange {
    background: #FFAF38;
    color: #141414;
}

#group .black {
    background: #383838;
    color: #FFAF38;
}

#group #title {
    margin-top: 9em;
    padding: 0.5em 3em 4em 3em;
}

#group #title .title {
    margin-top: 0.5em;
    font-size: 3em;
    color: white;
    letter-spacing: -0.02em;
    font-weight: 500;
}

#group #cam {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#group .cam {
    width: 49%;
    height: 46em;
    margin-bottom: 1em;
    overflow: hidden;
    position: relative;
    border-radius: 0.8em;
}

#group video {
    width: 100%;
}

#group .time {
    position: absolute;
    top: 0;
    font-weight: 600;
    font-size: 2.5em;
    color: white;
    border-radius: 0.2em;
    padding: 0px 10px 3px 8px;
    margin: 0.6em;
    letter-spacing: -0.03em;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
}

#group .rec {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: red;
    z-index: 99;
    margin-bottom: 5px;
    margin-right: 15px;
    border-radius: 100px;
    display: hidden;
    margin-top: 0.8em;
}

#group .name {
    position: absolute;
    bottom: 0;
    font-weight: 400;
    font-size: 2.1em;
    letter-spacing: -0.03em;
    color: white;
    text-align: center;
    width: 100%;
    padding: 2em 0 0.9em 0;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
}

#group .micicon {
    position: absolute;
    top: 0;
    right: 0;
    padding: 2em;
}

#group #btns {
    text-align: center;
    padding-top: 0.5em;
}

#group .btn {
    margin: 1.5em;
    width: 7.5em;
}

#camofficon,
#micofficon,
#micoff {
    display: none;
}

#group #off {
    width: 100%;
}



/* 팔로잉 */
#following {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: white;
    overflow: scroll;
    display: none;
}

#following input {
    width: 12.3em;
    font-size: 2.7em;
    color: #a3a3a3;
    background: #F4F4F4;
    border: 0px;
    display: inline;
    vertical-align: middle;
    margin-left: 0.4em;
}

#following input:focus {
    outline: none;
}

#following .searchicon {
    display: inline;
    vertical-align: middle;
}

#following #searchwrap {
    vertical-align: middle;
    background: #F4F4F4;
    padding: 1.5em 1.5em;
    border-radius: 1.2em;
    width: 86%;
}

#following01 {
    margin-top: 22em;
    padding: 0em 0em 0em 3em;
}

#following02 {
    margin-top: 3em;
    padding: 0em 0em 17em 3em;
}

#following .title {
    margin-bottom: 0.85em;
    font-size: 3.3em;
    font-weight: 700;
    letter-spacing: -0.05em;
}

#following .studyimg {
    width: 33em;
    border-radius: 0.5em;
}

#following .studysmall .imgwrap {
    position: relative;
    width: 40%;
    margin-right: 2.5em;
    margin-bottom: 1.3em;
}

#following .studysmall .time {
    position: absolute;
    top: 0;
    font-weight: 500;
    font-size: 2.1em;
    color: white;
    border-radius: 0.2em;
    padding: 0px 10px 3px 8px;
    margin: 0.6em;
    letter-spacing: -0.03em;
    text-shadow: 0px 0px 15px rgba(0, 0, 0, 1);
    width: 100%;
}

#following .keyword {
    font-size: 1.5em;
    font-weight: 600;
    border-radius: 0.2em;
    padding: 4px 10px 7px 10px;
    margin-right: 8px;
}

#following .orange {
    background: #FFAF38;
    color: black;
}

#following .black {
    background: black;
    color: #FFAF38;
}

#following .people {
    margin-left: 20px;
    display: inline-block;
    font-size: 1.35em;
}

#following .peopleicon {
    width: 1.5em;
    display: inline-block;
    vertical-align: middle;
    margin-right: 7px;
}

#following .peopleicon2 {
    width: 2.2em;
    display: inline-block;
    vertical-align: middle;
    margin-right: 7px;
}

#following .peoplenumber {
    font-size: 1.4em;
    color: #9F9F9F;
}

#following .studysmall .titlewrap {
    display: inline;
    width: 55%;
    margin-top: 0.6em;
}

#following .studytitle {
    font-weight: 500;
    font-size: 2.6em;
    margin: 0.2em 0;
    letter-spacing: -0.04em;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
}

#following .nickname {
    font-weight: 400;
    font-size: 1.9em;
    margin: 0.3em 0;
    color: #9F9F9F;
    letter-spacing: -0.04em;
}

#following .feedimg {
    width: 100%;
    border-radius: 0.5em;
}

#following02 .imgwrap {
    width: 25em !important;
}

#following02 .titlewrap {
    padding-top: 2em;
    padding-left: 0.5em;
    width: 26em !important;
}

#following .studycontent {
    font-weight: 400;
    font-size: 2.4em;
    margin: 0.7em 0;
    line-height: 1.6;
    letter-spacing: -0.04em;
    display: block;
    word-break: break-all;
}



/* 스토어 */
#store {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: white;
    overflow: scroll;
    display: none;
}

#store01 {
    width: 90%;
    padding: 3em 3em 17em 3em;
}

#store input {
    width: 12.3em;
    font-size: 2.7em;
    color: #a3a3a3;
    background: #F4F4F4;
    border: 0px;
    display: inline;
    vertical-align: middle;
    margin-left: 0.4em;
}

#store input:focus {
    outline: none;
}

#store .searchicon {
    display: inline;
    vertical-align: middle;
}

#store #searchwrap {
    vertical-align: middle;
    background: #F4F4F4;
    padding: 1.5em 1.5em;
    border-radius: 1.2em;
    width: 76%;
    display: inline-block;
    margin-right: 2em;
}

.cart {
    display: inline-block;
    vertical-align: middle;
    width: 3.7em;
}

#store .title {
    margin-bottom: 0.85em;
    font-size: 3.3em;
    font-weight: 700;
    letter-spacing: -0.05em;
}

#store .itemimg {
    width: 100%;
    border-radius: 0.7em;
}

#store .imgwrap {
    width: 26.7em;
    margin-bottom: 1.3em;
}

#store .keyword {
    font-size: 1.5em;
    font-weight: 600;
    border-radius: 0.2em;
    padding: 4px 10px 7px 10px;
    margin-right: 8px;
}

#store .orange {
    background: #FFAF38;
    color: black;
}

#store .titlewrap {
    width: 25em;
    margin-top: 1.8em;
    margin-bottom: 4.5em;
}

#store .itemtitle {
    font-weight: 500;
    font-size: 2.4em;
    margin: 0.5em 0 0.2em 0;
    letter-spacing: -0.04em;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
}

#store .price {
    font-weight: 600;
    font-size: 2.4em;
    margin: 0;
    color: #FFAF38;
    letter-spacing: -0.04em;
}

#store .price1 {
    color: #C2C2C2;
    letter-spacing: -0.04em;
    text-decoration: line-through;
    margin-right: 0.3em;
}

#storenavs {
    margin-top: 18em;
    padding: 2.3em;
    border-bottom: 1px solid #DBDBDB;
    text-align: left;
}

.storenavs {
    display: inline;
    font-size: 2.5em;
    font-weight: 600;
    padding: 0.8em 0.3em;
}

#storenavs .allnav {
    border-bottom: 5px solid rgba(0, 0, 0, 100);
}

#storenavs .salenav {
    border-bottom: 5px solid rgba(0, 0, 0, 0);
}

#storenavs .newnav {
    border-bottom: 5px solid rgba(0, 0, 0, 0);
}

#storenavs .bestnav {
    border-bottom: 5px solid rgba(0, 0, 0, 0);
}

#storebanner {
    margin: 4em 3em 1.2em 3em;
    width: 55em;
}

#storebanner img {
    width: 100%;
    border-radius: 0.7em;
}


/* 마이페이지 */
#my {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: white;
    overflow: scroll;
    padding-top: 6.5em;
}

#my p {
    margin: 0;
}

#my .title {
    margin-bottom: 0.85em;
    font-size: 3.3em;
    font-weight: 700;
    letter-spacing: -0.05em;
    color: black;
}

#my01 {
    padding: 0 3em;
    margin-top: 1.5em;
}

#my02 {
    padding: 0 3em;
    display: flex;
    width: 85vw;
    position: relative;
}

#my03 {
    display: flex;
    justify-content: space-between;
    padding: 0 3em;
    margin-top: 2.5em;
    margin-bottom: 4em;
}

#my .name {
    font-size: 2.7em;
    font-weight: 600;
}

#my .name2 {
    font-size: 2em;
    font-weight: 400;
    color: #7B7B7B;
}

#my .post,
#my .follower {
    font-size: 2.3em;
    font-weight: 600;
    letter-spacing: -0.03em;
    text-align: right;
}

#my .gray {
    color: #7B7B7B;
    font-weight: 400;
}

#my .start {
    width: 9.45em;
    background: #FFAF38;
    color: white;
    border: 3px solid #FFAF38;
    border-radius: 0.5em;
    font-size: 2.5em;
    font-weight: 500;
    padding: 0.6em;
    text-align: center;
    letter-spacing: -0.03em;
}

#my .edit {
    width: 9.45em;
    color: #FFAF38;
    border: 3px solid #FFAF38;
    border-radius: 0.5em;
    font-size: 2.5em;
    font-weight: 500;
    padding: 0.6em;
    text-align: center;
    letter-spacing: -0.03em;
}

#mynavs {
    display: flex;
    justify-content: space-between;
    font-size: 2.4em;
    font-weight: 600;
    border-bottom: 1px solid #DBDBDB;
}

.mynavs {
    text-align: center;
    width: 30em;
    padding: 1em 0;
    letter-spacing: -0.04;
}

#mynavs .postnav {
    border-bottom: 6px solid rgba(0, 0, 0, 100);
    font-weight: 600;
}

#mynavs .qnanav {
    border-bottom: 6px solid rgba(0, 0, 0, 0);
    font-weight: 500;
}

#mynavs .reviewnav {
    border-bottom: 6px solid rgba(0, 0, 0, 0);
    font-weight: 500;
}

#my .image {
    width: 100%;
}

#my .keyword {
    font-size: 1.1em;
    font-weight: 600;
    border-radius: 0.5em;
    padding: 4px 10px 7px 10px;
    margin-right: 8px;
}

#my .orange {
    background: #FFAF38;
    color: black;
}

#my .date,
#my .heart,
#my .comment {
    margin-left: 15px;
    display: inline-block;
    font-size: 2em;
    color: #B9B9B9;
}

#my .heart,
#my .comment {
    font-weight: 600;
}

#my .heart img,
#my .comment img {
    vertical-align: middle;
    margin-right: 6px;
}

#my .content {
    font-size: 30px;
    margin-top: 1em;
    letter-spacing: -0.02em;
    margin-bottom: 3em;
}

#my .reviewtitle {
    font-size: 35px;
    margin-top: 0.6em;
    letter-spacing: -0.02em;
    margin-bottom: 3em;
    font-weight: 500;
}